.chatbot-container {
  background: linear-gradient(180deg, #FFF 13.52%, rgba(167, 235, 242, 0.40) 76.72%, rgba(84, 172, 191, 0.68) 87.94%, #26658C 100%);
}

.assistant-message-text {
  letter-spacing: -0.11px;
}

.chat-input {
  letter-spacing: -1.05px;
}
